body {
  background-color: #12102c;
  background-image: url(../design/p2.png);
  background-repeat: no-repeat;
}
.title{
  text-align: center;
  margin-top: 250px
}

.title .wrap {
  position: relative;
}

.title .wrap .icons {
  position: absolute;
  left:-200px;
  top: -40px;
}
